In [1]:
import pymysql
import pandas as pd
import numpy as np
from datetime import datetime

## SafeTport

In [2]:
## Copy paste the information in the "SQL Connection Inputs for Jupyter Notebook" Google Doc in the section below
## to estabilsh connection to the database.

## Insert information below here:
connect = pymysql.Connect(
    host='13.52.237.5',
    port=3306,
    user='st_service',
    passwd='hakCNHD3cXSH4wZK',
    db='st_service',
    # charset='utf8'
)

## Insert information above here:

cursor = connect.cursor()

data = pd.read_sql_query("SELECT * from fa_user_declare", connect)

cursor.close()
connect.close()

In [3]:
data.tail()

,id,create_time,update_time,delete_time,other,declare,lo,la,Emergency,adderss,open_time,remark,images,user_id,open_time_en
36,88,1615422083,1615422083,NaN,"{""damage_type"":""Traffic signals""}",Safety Issues,-122.282721,37.879067,0,1501 Rose St,1615305600,A car turning on red didn’t see a pedestrian,,25,Afternoon(12pm–6pm)
37,89,1615430542,1615430542,NaN,"{""damage_type"":""Cracked or uneven roadway pave...",Safety Issues,-122.273734,37.523511,0,560 Masonic Way,1615305600,Large pothole on the side of the road.,,31,Morning(6am–12am)
38,90,1615583388,1615583388,NaN,"{""damage_type"":""Others(Please Provide Descript...",Safety Issues,-121.294924,38.019661,0,7555–7743 West Ln,1615478400,Lack of bicycle lane on all of West Lane in St...,,33,Afternoon(12pm–6pm)
39,91,1616703497,1616703497,NaN,"{""damage_type"":""Cracked or uneven roadway pave...",Safety Issues,-122.274148,37.523016,0,601 Masonic Way,1616601600,Uneven and cracked road pavement with large po...,,31,Afternoon(12pm–6pm)
40,92,1616724280,1616724280,NaN,"{""damage_type"":""Cracked or uneven roadway pave...",Safety Issues,-122.281644,37.869663,0,Berkeley,1613577600,,,17,Morning(6am–12am)

In [4]:
data['create_time'].apply(lambda x: datetime.fromtimestamp(int(x)))

0    2021-01-11 19:59:49
1    2021-01-11 19:59:49
2    2021-01-11 20:05:58
3    2021-01-11 20:11:26
4    2021-01-11 20:17:34
5    2021-01-11 20:21:24
6    2021-01-11 20:25:36
7    2021-01-11 20:40:08
8    2021-01-11 20:42:56
9    2021-01-12 18:58:31
10   2021-01-14 12:28:28
11   2021-01-14 12:42:20
12   2021-01-14 12:46:22
13   2021-01-14 18:46:40
14   2021-01-14 18:48:25
15   2021-01-14 18:49:09
16   2021-01-14 19:04:11
17   2021-01-15 13:42:26
18   2021-01-20 19:07:47
19   2021-01-23 12:04:06
20   2021-01-25 18:01:33
21   2021-01-27 18:29:58
22   2021-01-29 02:22:08
23   2021-01-29 09:40:02
24   2021-01-29 18:22:12
25   2021-02-06 18:33:55
26   2021-02-08 14:54:25
27   2021-02-10 15:49:21
28   2021-02-10 15:51:04
29   2021-02-10 15:52:50
30   2021-02-10 15:54:15
31   2021-02-10 15:56:49
32   2021-02-10 15:58:16
33   2021-02-17 12:40:06
34   2021-03-07 14:26:14
35   2021-03-07 14:46:24
36   2021-03-10 16:21:23
37   2021-03-10 18:42:22
38   2021-03-12 13:09:48
39   2021-03-25 13:18:17
40   2021-03-25 19:04:40
Name: create_time, dtype: datetime64[ns]

## Streetstory

In [14]:
streetstory = pd.read_csv('Street Story reports - 03_03_2021.csv')
streetstory.head(5)

,OBJECTID,type,crash/near-miss date,crash/near-miss mode,crash/near-miss time of day,mode involved,e-scooter involved,Was anyone injured?,crash cause,crash narrative,...,e-bike,e-scooter,improvement,improvement narrative,address,report date,latitude,longitude,type.1,coordinates
0,1,nearMiss,May-18,bike,day,driver,NaN,none,NaN,NaN,...,NaN,NaN,NaN,NaN,"2403 Telegraph Ave, Berkeley, California, 9470...",10/1/2018,37.866843,-1.360979e+07,Point,"[-122.258798947204,37.866842967977]"
1,2,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,10/1/2018,37.467561,-1.359838e+07,Point,"[-122.156303013036,37.4675605565848]"
2,3,incident,May-18,walk,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"1330 Cristina Ave, San Jose, California, 95125...",10/1/2018,37.442822,-1.359937e+07,Point,"[-122.165212056663,37.4428215351974]"
3,4,incident,May-18,walk,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"18562 Prospect Rd, San Jose, California, 95129...",10/1/2018,33.815584,-1.179322e+02,Point,"[-117.932186083924,33.8155835550056]"
4,5,positive,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,"2297 Central Park Dr, Campbell, California, 95...",10/1/2018,37.243448,-1.217917e+02,Point,"[-121.791687011734,37.2434483783072]"

In [18]:
unsafe_text = streetstory['unsafe location narrative'].dropna()
unsafe_text

10      The bike lane ends abruptly without warning to...
11      Right turning vehicles do not give pedestrians...
12      Very confusing and large intersection. Scary! ...
18         The bike lane ends. The intersection is huge.
24      It is very dark here at night and the cross wa...
                              ...
2648    I hesitate to call this paved; it's so full of...
2653    Large vehicles with small shoulder for pedestr...
2658    Cars are passing each other and walkers and bi...
2660    many people are rude drivers around here.  the...
2661    Missing bike paths and shoulder area means rid...
Name: unsafe location narrative, Length: 1229, dtype: object

In [33]:
from string import punctuation
from nltk.stem import PorterStemmer
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer

stop_words = set(stopwords.words('english'))

porter = PorterStemmer()

def remove_punctuation(document):

    no_punct = ''.join([character for character in document if character not in punctuation])
    
    return no_punct

def remove_digit(document): 
    
    no_digit = ''.join([character for character in document if not character.isdigit()])
              
    return no_digit

def remove_stopwords(document, stop_words):
    removed = 0
    while removed == 0:
        removed = 1
        for stop_word in stop_words:
            try:
                document.remove(stop_word)
            except ValueError:
                pass
            else:
                removed = 0
    return document

def stemmer(document):
    stemmed_document = [porter.stem(word) for word in document]
    return stemmed_document

### Lowercase, remove punctuation, remove digits

In [25]:
unsafe_text = unsafe_text.str.lower().apply(remove_punctuation).apply(remove_digit)

### Tokenize

In [27]:
unsafe_text = unsafe_text.apply(word_tokenize)
unsafe_text.head(5)

10    [the, bike, lane, ends, abruptly, without, war...
11    [right, turning, vehicles, do, not, give, pede...
12    [very, confusing, and, large, intersection, sc...
18    [the, bike, lane, ends, the, intersection, is,...
24    [it, is, very, dark, here, at, night, and, the...
Name: unsafe location narrative, dtype: object

### Remove stop words

In [29]:
unsafe_text = unsafe_text.apply(lambda x: remove_stopwords(x, stop_words))
unsafe_text.head(5)

10    [bike, lane, ends, abruptly, without, warning,...
11    [right, turning, vehicles, give, pedestrians, ...
12    [confusing, large, intersection, scary, sprawl...
18               [bike, lane, ends, intersection, huge]
24    [dark, night, cross, walk, difficult, see, peo...
Name: unsafe location narrative, dtype: object

### Stemming

In [32]:
unsafe_text = unsafe_text.apply(stemmer)
unsafe_text.head(5)

10    [bike, lane, end, abruptli, without, warn, car...
11    [right, turn, vehicl, give, pedestrian, right,...
12    [confus, larg, intersect, scari, sprawl, wide,...
18                   [bike, lane, end, intersect, huge]
24    [dark, night, cross, walk, difficult, see, peo...
Name: unsafe location narrative, dtype: object

### De-tokenize

In [34]:
unsafe_text = unsafe_text.apply(TreebankWordDetokenizer().detokenize)
unsafe_text.head()

10    bike lane end abruptli without warn car driver...
11    right turn vehicl give pedestrian right way pe...
12    confus larg intersect scari sprawl wide inhosp...
18                         bike lane end intersect huge
24    dark night cross walk difficult see peopl regu...
Name: unsafe location narrative, dtype: object

### DTM

In [39]:
from sklearn.feature_extraction.text import CountVectorizer

countvec = CountVectorizer(min_df=0.005)

sparse_dtm = countvec.fit_transform(unsafe_text)
sparse_dtm

<1229x570 sparse matrix of type '<class 'numpy.int64'>'
	with 17530 stored elements in Compressed Sparse Row format>

In [40]:
dtm = pd.DataFrame.sparse.from_spmatrix(sparse_dtm, columns=countvec.get_feature_names(), index=unsafe_text.index)
dtm

,abl,abruptli,access,accid,across,activ,actual,ad,add,addit,...,wors,worst,would,wrong,year,yellow,yet,yield,zero,zone
10,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
24,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2648,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2653,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2658,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2660,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2661,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [41]:
dtm.sum().sort_values(ascending=False)

bike       615
lane       509
car        388
road       381
cross      365
          ...
hardli       7
redwood      7
free         7
repair       7
parent       7
Length: 570, dtype: int64

In [43]:
streetstory['type'].unique()

array(['nearMiss', 'positive', 'incident', 'unsafe', nan, '5/1/2019'],
      dtype=object)

In [51]:
streetstory.columns

Index(['OBJECTID', 'type', 'crash/near-miss date', 'crash/near-miss mode',
       'crash/near-miss time of day', 'mode involved', 'e-scooter involved',
       'Was anyone injured?', 'crash cause', 'crash narrative',
       'nearmiss cause', 'nearmiss narrative', 'police',
       'unsafe location mode', 'unsafe location time of day',
       'unsafe location cause', 'unsafe location narrative',
       'safe location mode', 'safe location cause', 'safe location narrative',
       'mobility device', 'e-bike', 'e-scooter', 'improvement',
       'improvement narrative', 'address', 'report date', 'latitude',
       'longitude', 'type.1', 'coordinates'],
      dtype='object')

## TIMS

In [45]:
tims = pd.read_csv('Collisions.csv')
tims.head()

C:\Users\usboy\anaconda3\envs\python3\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,14,26,29,30,33,42) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,CASE_ID,ACCIDENT_YEAR,PROC_DATE,JURIS,COLLISION_DATE,COLLISION_TIME,OFFICER_ID,REPORTING_DISTRICT,DAY_OF_WEEK,CHP_SHIFT,...,COUNT_MC_KILLED,COUNT_MC_INJURED,PRIMARY_RAMP,SECONDARY_RAMP,LATITUDE,LONGITUDE,COUNTY,CITY,POINT_X,POINT_Y
0,8167248,2018,2018-08-21,113,2018-04-22,1503,4507,R101,7,5,...,0,0,-,-,NaN,NaN,ALAMEDA,UNION CITY,-122.026154,37.611629
1,8167553,2018,2018-05-14,112,2018-01-12,651,356,NaN,5,5,...,0,0,-,-,NaN,NaN,ALAMEDA,SAN LEANDRO,-122.126060,37.703449
2,8167654,2019,2020-01-29,112,2019-09-06,1048,384,NaN,5,5,...,0,0,-,-,NaN,NaN,ALAMEDA,SAN LEANDRO,-122.153824,37.723568
3,8167658,2019,2020-02-10,112,2019-09-10,1319,317,NaN,2,5,...,0,0,-,-,NaN,NaN,ALAMEDA,SAN LEANDRO,-122.143921,37.716072
4,8167694,2019,2020-01-08,107,2019-09-09,1531,R351,C100,1,5,...,0,0,-,-,37.677521,-121.791901,ALAMEDA,LIVERMORE,-121.805397,37.675610

In [46]:
tims.columns

Index(['CASE_ID', 'ACCIDENT_YEAR', 'PROC_DATE', 'JURIS', 'COLLISION_DATE',
       'COLLISION_TIME', 'OFFICER_ID', 'REPORTING_DISTRICT', 'DAY_OF_WEEK',
       'CHP_SHIFT', 'POPULATION', 'CNTY_CITY_LOC', 'SPECIAL_COND', 'BEAT_TYPE',
       'CHP_BEAT_TYPE', 'CITY_DIVISION_LAPD', 'CHP_BEAT_CLASS', 'BEAT_NUMBER',
       'PRIMARY_RD', 'SECONDARY_RD', 'DISTANCE', 'DIRECTION', 'INTERSECTION',
       'WEATHER_1', 'WEATHER_2', 'STATE_HWY_IND', 'CALTRANS_COUNTY',
       'CALTRANS_DISTRICT', 'STATE_ROUTE', 'ROUTE_SUFFIX', 'POSTMILE_PREFIX',
       'POSTMILE', 'LOCATION_TYPE', 'RAMP_INTERSECTION', 'SIDE_OF_HWY',
       'TOW_AWAY', 'COLLISION_SEVERITY', 'NUMBER_KILLED', 'NUMBER_INJURED',
       'PARTY_COUNT', 'PRIMARY_COLL_FACTOR', 'PCF_CODE_OF_VIOL',
       'PCF_VIOL_CATEGORY', 'PCF_VIOLATION', 'PCF_VIOL_SUBSECTION',
       'HIT_AND_RUN', 'TYPE_OF_COLLISION', 'MVIW', 'PED_ACTION',
       'ROAD_SURFACE', 'ROAD_COND_1', 'ROAD_COND_2', 'LIGHTING',
       'CONTROL_DEVICE', 'CHP_ROAD_TYPE', 'PEDESTRIAN_ACCIDENT',
       'BICYCLE_ACCIDENT', 'MOTORCYCLE_ACCIDENT', 'TRUCK_ACCIDENT',
       'NOT_PRIVATE_PROPERTY', 'ALCOHOL_INVOLVED', 'STWD_VEHTYPE_AT_FAULT',
       'CHP_VEHTYPE_AT_FAULT', 'COUNT_SEVERE_INJ', 'COUNT_VISIBLE_INJ',
       'COUNT_COMPLAINT_PAIN', 'COUNT_PED_KILLED', 'COUNT_PED_INJURED',
       'COUNT_BICYCLIST_KILLED', 'COUNT_BICYCLIST_INJURED', 'COUNT_MC_KILLED',
       'COUNT_MC_INJURED', 'PRIMARY_RAMP', 'SECONDARY_RAMP', 'LATITUDE',
       'LONGITUDE', 'COUNTY', 'CITY', 'POINT_X', 'POINT_Y'],
      dtype='object')

In [50]:
pd.read_csv('Street_Centerlines.csv')['CLASS'].unique()

array([' ', 'Local', 'Principal Arterial', 'Ramp', 'Interstate',
       'Other Freeway or Expressway', 'Minor Arterial', 'Major Collector',
       'Minor Collector'], dtype=object)